@font-face {
  font-family: "flappy";
  src: url("fonts/04B_19__.TTF");
}

#myButton {
  background-image: url("images/screenplay.png");
  width: 500px;
  height: 300px;
}
h1,
h2,
h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}
.gameOverScreen {
  display: none;
  background-image: url("images/game_over_2.png");
  width: 300px;
  height: 100px;
}